{{#each shoppingCart.items as |item|}}
  <p>Product: {{item.title}}<br>
  Cost: ${{item.cost}}</p>
  <button {{action 'remove' item}}>Remove</button>
{{/each}}


<h4>Total Cost: ${{totalCost}}.00</h4>
