<div class="productTile">
  <h4>{{product.title}}</h4>
  {{#link-to 'product' product.id}}<img class="product-details" src="{{product.image}}">{{/link-to}}
  <p>{{product.description}}</p>
  ${{product.cost}}

</div>
