$nav-text: #BDA0CB;

@font-face{
  font-family : "tone";

  src : url('DEFTONE.ttf');
  src : url('DEFTONE.ttf') format('truetype');
}

body {
  background-image: url("/assets/img/witch.png");
  background-size: cover;
}

.tile-image {
  max-width: 300px;
}
.navbar {
  background-color: #333;

}

.jumbotron {
  text-align: center;
  background: linear-gradient(white, transparent 50%), linear-gradient(0deg, #fff, transparent 20%), url("/assets/img/blueback.jpeg");
  background-size: cover;
}
.navlink{
  color: $nav-text;
  :hover {
    color: #72587F;
  }
}
.footer-text {
  color: $nav-text;
  padding-left: 10px;
  padding-right: 10px;
  :hover {
    color: #72587F;
  }
}

.header-text {
  color: $nav-text;
  padding-left: 10px;
  padding-right: 10px;
  :hover {
    color: #72587F;
  }
}

.center{
  margin-top: 400px;
  text-align: center;
  font-family: tone;
  font-size: 100px;
  // color: white;
}

.index-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.product-details {
  width: 300px;
  height: 300px;
  border-radius: 40%;
  border: 3px solid black;

}

.productDetail {
  border: 3px solid black;
  float: left;

}

.admin-display {
  border: solid black 4px;
  border-radius: 3px;
}

.around {
  background-color: blue;
  border: 3px 3px 3px black;
  float: left;
}

.productTile {
  margin-top: 400px;
}
